package components

templ FormGroup(label string) {
	<div class="mb-3">
		if label != "" {
			<label class="block text-sm font-medium text-zinc-300 mb-1.5">
				{ label }
			</label>
		}
		{ children... }
	</div>
}

templ Button(text, variant string) {
	<button type="button" class={ "btn btn-" + variant }>{ text }</button>
}

templ SubmitButton(text string) {
	<button type="submit" class="btn btn-primary">{ text }</button>
}
